In [25]:
import pandas as pd
import numpy as np
import re

In [3]:
%cd data
!ls

/home/stephy/Learning_DataScience/Chemical_db/TCI_database_app/data
TCIAvailableStock.json		    TCI.smi
TCICompoundIdentifications.json     TCISpecifications.json
TCIGeneralInformation.json	    TCISpecificProperties.json
TCIGHSprecautionaryStatements.json  TCITransportationInformation.json
TCIRealtedLaws.json		    TCI.txt

In [4]:
df_stock = pd.read_json('TCIAvailableStock.json', orient ='split', compression = 'infer')

In [170]:
df_stock.sample(5).dropna(axis=1, how='all')

,code,OtherWH1G,price1G,Hyogo1G,Saitama1G,OtherWH200MG,price200MG,Hyogo200MG,Saitama200MG,OtherWH25G,price25G,Hyogo25G,Saitama25G,OtherWH5G,price5G,Hyogo5G,Saitama5G,lowestPriceOption
4066,B1849,Contact Company,17300.0,1,19,None,NaN,None,None,None,NaN,None,None,None,NaN,None,None,17300.0
25112,P1181,Contact Company,6100.0,Contact Company,1,None,NaN,None,None,Contact Company,58200.0,2,20,None,NaN,None,None,6100.0
13229,D3809,Contact Company,28200.0,2,4,None,NaN,None,None,None,NaN,None,None,None,NaN,None,None,28200.0
1790,A2402,None,NaN,None,None,None,NaN,None,None,Contact Company,15500.0,1,10,Contact Company,4800.0,Contact Company,7,4800.0
26291,P2900,Contact Company,26300.0,Contact Company,8,Contact Company,7500.0,Contact Company,5,None,NaN,None,None,None,NaN,None,None,7500.0

In [172]:
list(df_stock.keys())

['code',
 'OtherWH0.1ML',
 'price0.1ML',
 'Hyogo0.1ML',
 'Saitama0.1ML',
 'OtherWH0.2ML',
 'price0.2ML',
 'Hyogo0.2ML',
 'Saitama0.2ML',
 'OtherWH0.5ML',
 'price0.5ML',
 'Hyogo0.5ML',
 'Saitama0.5ML',
 'OtherWH100G',
 'price100G',
 'Hyogo100G',
 'Saitama100G',
 'OtherWH100MG',
 'price100MG',
 'Hyogo100MG',
 'Saitama100MG',
 'OtherWH100ML',
 'price100ML',
 'Hyogo100ML',
 'Saitama100ML',
 'OtherWH100TUB',
 'price100TUB',
 'Hyogo100TUB',
 'Saitama100TUB',
 'OtherWH10G',
 'price10G',
 'Hyogo10G',
 'Saitama10G',
 'OtherWH10MG',
 'price10MG',
 'Hyogo10MG',
 'Saitama10MG',
 'OtherWH10ML',
 'price10ML',
 'Hyogo10ML',
 'Saitama10ML',
 'OtherWH12CAP',
 'price12CAP',
 'Hyogo12CAP',
 'Saitama12CAP',
 'OtherWH12ML',
 'price12ML',
 'Hyogo12ML',
 'Saitama12ML',
 'OtherWH15ML',
 'price15ML',
 'Hyogo15ML',
 'Saitama15ML',
 'OtherWH1CLM',
 'price1CLM',
 'Hyogo1CLM',
 'Saitama1CLM',
 'OtherWH1EACH',
 'price1EACH',
 'Hyogo1EACH',
 'Saitama1EACH',
 'OtherWH1G',
 'price1G',
 'Hyogo1G',
 'Saitama1G',
 'OtherWH1KG',
 'price1KG',
 'Hyogo1KG',
 'Saitama1KG',
 'OtherWH1KIT',
 'price1KIT',
 'Hyogo1KIT',
 'Saitama1KIT',
 'OtherWH1MG',
 'price1MG',
 'Hyogo1MG',
 'Saitama1MG',
 'OtherWH1ML',
 'price1ML',
 'Hyogo1ML',
 'Saitama1ML',
 'OtherWH1SAMPLE',
 'price1SAMPLE',
 'Hyogo1SAMPLE',
 'Saitama1SAMPLE',
 'OtherWH1SET',
 'price1SET',
 'Hyogo1SET',
 'Saitama1SET',
 'OtherWH1VIAL',
 'price1VIAL',
 'Hyogo1VIAL',
 'Saitama1VIAL',
 'OtherWH200G',
 'price200G',
 'Hyogo200G',
 'Saitama200G',
 'OtherWH200MG',
 'price200MG',
 'Hyogo200MG',
 'Saitama200MG',
 'OtherWH200ML',
 'price200ML',
 'Hyogo200ML',
 'Saitama200ML',
 'OtherWH20MG',
 'price20MG',
 'Hyogo20MG',
 'Saitama20MG',
 'OtherWH20ML',
 'price20ML',
 'Hyogo20ML',
 'Saitama20ML',
 'OtherWH250G',
 'price250G',
 'Hyogo250G',
 'Saitama250G',
 'OtherWH250MG',
 'price250MG',
 'Hyogo250MG',
 'Saitama250MG',
 'OtherWH250ML',
 'price250ML',
 'Hyogo250ML',
 'Saitama250ML',
 'OtherWH25G',
 'price25G',
 'Hyogo25G',
 'Saitama25G',
 'OtherWH25MG',
 'price25MG',
 'Hyogo25MG',
 'Saitama25MG',
 'OtherWH25ML',
 'price25ML',
 'Hyogo25ML',
 'Saitama25ML',
 'OtherWH2G',
 'price2G',
 'Hyogo2G',
 'Saitama2G',
 'OtherWH2MG',
 'price2MG',
 'Hyogo2MG',
 'Saitama2MG',
 'OtherWH2ML',
 'price2ML',
 'Hyogo2ML',
 'Saitama2ML',
 'OtherWH300G',
 'price300G',
 'Hyogo300G',
 'Saitama300G',
 'OtherWH300ML',
 'price300ML',
 'Hyogo300ML',
 'Saitama300ML',
 'OtherWH3CLM',
 'price3CLM',
 'Hyogo3CLM',
 'Saitama3CLM',
 'OtherWH400G',
 'price400G',
 'Hyogo400G',
 'Saitama400G',
 'OtherWH400ML',
 'price400ML',
 'Hyogo400ML',
 'Saitama400ML',
 'OtherWH500G',
 'price500G',
 'Hyogo500G',
 'Saitama500G',
 'OtherWH500MG',
 'price500MG',
 'Hyogo500MG',
 'Saitama500MG',
 'OtherWH500ML',
 'price500ML',
 'Hyogo500ML',
 'Saitama500ML',
 'OtherWH50G',
 'price50G',
 'Hyogo50G',
 'Saitama50G',
 'OtherWH50MG',
 'price50MG',
 'Hyogo50MG',
 'Saitama50MG',
 'OtherWH50ML',
 'price50ML',
 'Hyogo50ML',
 'Saitama50ML',
 'OtherWH5CLM',
 'price5CLM',
 'Hyogo5CLM',
 'Saitama5CLM',
 'OtherWH5EACH',
 'price5EACH',
 'Hyogo5EACH',
 'Saitama5EACH',
 'OtherWH5G',
 'price5G',
 'Hyogo5G',
 'Saitama5G',
 'OtherWH5MG',
 'price5MG',
 'Hyogo5MG',
 'Saitama5MG',
 'OtherWH5ML',
 'price5ML',
 'Hyogo5ML',
 'Saitama5ML',
 'OtherWH8ML',
 'price8ML',
 'Hyogo8ML',
 'Saitama8ML',
 'OtherWH90G',
 'price90G',
 'Hyogo90G',
 'Saitama90G',
 'OtherWH96CAP',
 'price96CAP',
 'Hyogo96CAP',
 'Saitama96CAP',
 'lowestPriceOption']

In [31]:
df_stock.head(n=5).dropna(axis=1, how='all')

,code,OtherWH100G,price100G,Hyogo100G,Saitama100G,OtherWH25G,price25G,Hyogo25G,Saitama25G,OtherWH500G,price500G,Hyogo500G,Saitama500G,OtherWH5G,price5G,Hyogo5G,Saitama5G,lowestPriceOption
0,A0001,None,NaN,None,None,20,6200.0,20,18,Contact Company,43800.0,Contact Company,14,None,NaN,None,None,6200.0
1,A0002,None,NaN,None,None,20,14800.0,1,20,None,NaN,None,None,None,NaN,None,None,14800.0
2,A0003,Contact Company,8200.0,Contact Company,Contact Company,Contact Company,2800.0,11,20,Contact Company,26100.0,11,12,None,NaN,None,None,2800.0
3,A0004,20,48800.0,20,6,20,14800.0,10,20,None,NaN,None,None,None,NaN,None,None,14800.0
4,A0005,None,NaN,None,None,Contact Company,10500.0,20,20,None,NaN,None,None,Contact Company,3100.0,8,20,3100.0

In [185]:
keys_list_test = ['code', 'OtherWH0.1ML', 'price0.1ML',
 'Hyogo0.1ML', 'Saitama0.1ML', 'OtherWH0.2ML', 'price0.2ML',
 'Hyogo0.2ML', 'Saitama0.2ML', 'OtherWH0.5ML', 'price0.5ML',
 'Hyogo0.5ML', 'Saitama0.5ML',]

In [202]:
availability_list = []

for index, row in df_stock[keys_list_test].iterrows(): 
    for key in row.keys():
        if 'price' in key:
            amount = re.findall('\d*\.?\d+',key)[0]
            unit = key.split(amount)[1]
            price = row[key]
            hyogo = row['Hyogo{0}{1}'.format(amount, unit)]
            saitama = row['Saitama{0}{1}'.format(amount, unit)]
            other = row['OtherWH{0}{1}'.format(amount, unit)]
            
            #get the amount of good in Hyogo, Saitama and Other Warehouses
            try:
                stock_at_hyogo = hyogo.isdigit()
            except AttributeError:
                stock_at_hyogo = False
                
            try:
                stock_at_saitama = saitama.isdigit()
            except AttributeError:
                stock_at_saitama = False
                
            try:
                stock_at_other = other.isdigit()
            except AttributeError:
                stock_at_other = False
            
            dictionary = {'code': row['code'], 'unit':str(unit), 'amount':float(amount), 'price':price,\
                          'stock_at_hyogo':stock_at_hyogo, 'stock_at_saitama':stock_at_saitama,\
                          'stock_at_other':stock_at_other}
            
            availability_list.append(dictionary)

In [203]:
availability_df = pd.DataFrame(availability_list)
availability_df

,code,unit,amount,price,stock_at_hyogo,stock_at_saitama,stock_at_other
0,A0001,ML,0.1,NaN,False,False,False
1,A0001,ML,0.2,NaN,False,False,False
2,A0001,ML,0.5,NaN,False,False,False
3,A0002,ML,0.1,NaN,False,False,False
4,A0002,ML,0.2,NaN,False,False,False
...,...,...,...,...,...,...,...
92002,D6015,ML,0.2,NaN,False,False,False
92003,D6015,ML,0.5,NaN,False,False,False
92004,I1156,ML,0.1,NaN,False,False,False
92005,I1156,ML,0.2,NaN,False,False,False
92006,I1156,ML,0.5,NaN,False,False,False

In [126]:
availability_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   code              20 non-null     object
 1   unit              20 non-null     object
 2   amount            20 non-null     float64
 3   price             10 non-null     float64
 4   stock_at_hyogo    20 non-null     bool
 5   stock_at_saitama  20 non-null     bool
 6   stock_at_other    20 non-null     bool
dtypes: bool(3), float64(2), object(2)
memory usage: 828.0+ bytes