# Create a database of organic molecules based on TCI scraped data

So far:
* An AWS Aurora server has already been created. See https://mi-6.docbase.io/posts/2582931
* A RDKit cartridge has already been setup in the database following https://mi-6.docbase.io/posts/2547303
* TCI data was cleaned, preprocessed and the naming of properties was taken care of (avoid using SQL special characters). Jupyter notebook https://github.com/stephanyvargas/Learning_DataScience/blob/master/WebScrapping_data/test_data_TCI.ipynb

## Imports

In [1]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

# Load the data

In [2]:
%cd data
!ls

/home/stephy/Learning_DataScience/Chemical_db/TCI_database_app/data
TCIAvailableStock.json		    TCI.smi
TCICompoundIdentifications.json     TCISpecifications.json
TCIGeneralInformation.json	    TCISpecificProperties.json
TCIGHSprecautionaryStatements.json  TCITransportationInformation.json
TCIRealtedLaws.json		    TCI.txt

## Compound Identifications Data

In [3]:
df_identifications = pd.read_json('TCICompoundIdentifications.json', orient ='split', compression = 'infer')

In [4]:
df_identifications.sample(3)

,name,CAS,code,grade,ProductNumber,CasRN,reaxysRegistryNumber,pubchemSubstanceId,SMILESPubChem,merckIndex14,mdlNumber,sdbsAistSpectralDB,relatedCasRN,colourIndex,enzymeCommissionNumber
P0803,"2,6-Pyridinedimethanol",1195-59-1,P0803,None,p0803,1195-59-1,116016.0,87574934.0,C1=CC(=NC(=C1)CO)CO,NaN,mfcd00006351,5714.0,None,NaN,None
P2508,ULTROXA(regR) Poly(2-propyl-2-oxazoline),941228-32-6,P2508,None,p2508,941228-32-6,NaN,354334996.0,CCCC(=O)N(C)CCN(CCN(CCO)C(=O)CCC)C(=O)CCC,NaN,None,NaN,None,NaN,None
I0757,5-(Isopropylamino)pentanol,40447-21-0,I0757,None,i0757,40447-21-0,1735575.0,125307215.0,CC(C)NCCCCCO,NaN,None,NaN,None,NaN,None

In [5]:
df_identifications.drop(['ProductNumber'], axis=1, inplace=True)

In [6]:
df_identifications.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30669 entries, A0001 to I1156
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    30669 non-null  object
 1   CAS                     29903 non-null  object
 2   code                    30669 non-null  object
 3   grade                   732 non-null    object
 4   CasRN                   29894 non-null  object
 5   reaxysRegistryNumber    28269 non-null  float64
 6   pubchemSubstanceId      26483 non-null  float64
 7   SMILESPubChem           28854 non-null  object
 8   merckIndex14            4145 non-null   float64
 9   mdlNumber               27392 non-null  object
 10  sdbsAistSpectralDB      10056 non-null  float64
 11  relatedCasRN            744 non-null    object
 12  colourIndex             290 non-null    float64
 13  enzymeCommissionNumber  30 non-null     object
dtypes: float64(5), object(9)
memory usage: 3.5+ MB

### Details

| column name | data type | table constraint | description |
| ---- | ---- | ---- | ---- |
|name | TEXT | - | Name of the compound |
|CAS|TEXT|-|CAS identification|
|reaxysRegistryNumber|TEXT|-|Identifier for chemical substance in Reaxys (Beilstein Registry Number)|
|pubchemSubstanceId|TEXT|-|Identifier from database of chemical molecules and their activities in biological assays PubChem ID|
|sdbsAistSpectralDB|TEXT|-|Spectral Database for Organic Compounds|
|merckIndex14|TEXT|-| Merck Index for authoritative information on chemicals, drugs and biologicals| 
|mdlNumber|TEXT|-|MLD unique identification number for each reaction and variation.|
|SMILESPubChem|TEXT|-|SMILES identifier from Pubchem|
|code|TEXT|PRIMARY KEY|TCI unique id|
|grade|TEXT|-|Grade refering to the purity of the chemical|
|CasRn|TEXT|-|CAS RN unique identifier that provides an unambiguous means to distinguish chemical substances or molecular structures| 
|colourIndex|TEXT|-|Colour Index Generic Name describes a commercial product by its recognised usage class, its hue and a serial number|
|relatedCasRn|TEXT|-|CAS RN unique identifier that provides an unambiguous means to distinguish chemical substances or molecular structures| 
|enzymeCommissionNumber|TEXT|-|Enzyme Commission numerical classification scheme for enzymes, based on the chemical reactions they catalyze|


### Create table and upload to server

In [7]:
host ='molecule-db-instance-1.czixbih3kolx.us-west-2.rds.amazonaws.com'
port = 5432
database = 'smallmoleculedb'
user = 'MoleculeMaster'
password = 'UXT7nljK3!R791Tlz!KAgHu'

In [8]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
engine

Engine(postgresql://MoleculeMaster:***@molecule-db-instance-1.czixbih3kolx.us-west-2.rds.amazonaws.com:5432/smallmoleculedb)

In [36]:
# Upload the dataframe -> changed everything to kumoji!!!
df_identifications.to_sql('tci_compound_identifications', engine,  index=False)

In [37]:
# define a primary Key
with engine.connect() as con:
    con.execute('ALTER TABLE tci_compound_identifications ADD PRIMARY KEY ("code");')

In [39]:
#create an index
#with engine.connect() as con:
#    con.execute(f"CREATE INDEX compoundIdentificationIndex ON tci_compound_identifications({','.join([col[0] for col in columns])});")

### Test the connection

In [43]:
%%time
table_retrieved = engine.execute("SELECT * FROM tci_compound_identifications").fetchall()

CPU times: user 143 ms, sys: 63.9 ms, total: 207 ms
Wall time: 3.13 s

In [42]:
%%time
df_retrieved = pd.read_sql("SELECT * FROM tci_compound_identifications", engine)

CPU times: user 209 ms, sys: 19.8 ms, total: 228 ms
Wall time: 6.8 s

The *CPU or execution time*, measures how much time a CPU spent on executing a program.

  - The *user time* corresponds to the time spent executing the process.

  - The *System time* corresponds to the time that the CPU is answering to system calls from the process. The system time can change depending on the operating system.

*Wall time or wall-clock time*, measures the total time to execute a program in a computer. 

If *(CPU time)/(wall clock time) < 1* means the program was just waiting and not executing the program. It can be affected by 
* Processes running on the machine, if other processes are keeping the CPU busy, there might be the need to wait for some free CPU.
* Unstable or slow network.
* Waiting for the server response.

More information on `%%time` [here](https://ipython.readthedocs.io/en/stable/interactive/magics.html?highlight=%25time#magic-time). And [here](https://pythonspeed.com/articles/blocking-cpu-or-io/) is some discussion regarding time bottle necks.

In [45]:
table_retrieved[:3]

[('Abietic Acid', '514-10-3', 'A0001', None, '514-10-3', 2221451.0, 87561707.0, 'CC(C)C1=CC2=CCC3C(C2CC1)(CCCC3(C)C(=O)O)C', 7.0, 'mfcd03423567', 1471.0, None, None, None),
 ('Ethyl Abietate', '631-71-0', 'A0002', None, '631-71-0', None, 87561708.0, 'CCOC(=O)C1(CCCC2(C1CC=C3C2CCC(=C3)C(C)C)C)C', None, 'mfcd00028860', None, None, None, None),
 ('Acenaphthene', '83-32-9', 'A0003', None, '83-32-9', 386081.0, 87561709.0, 'C1CC2=CC=CC3=C2C1=CC=C3', 28.0, 'mfcd00003807', 863.0, None, None, None)]

In [46]:
df_retrieved.sample(3)

,name,CAS,code,grade,CasRN,reaxysRegistryNumber,pubchemSubstanceId,SMILESPubChem,merckIndex14,mdlNumber,sdbsAistSpectralDB,relatedCasRN,colourIndex,enzymeCommissionNumber
17293,GlcNAc beta(1-3)GalNAc-alpha-Thr,286959-52-2,G0341,None,286959-52-2,NaN,125307197.0,CC(C(C(=O)O)N)OC1C(C(C(C(O1)CO)O)OC2C(C(C(C(O2...,NaN,None,NaN,None,NaN,None
9107,Chlorophenyl Acetate,4525-75-1,C2120,None,4525-75-1,1865639.0,87559151.0,CC(=O)OC1=CC=CC=C1Cl,NaN,mfcd01632281,51701.0,None,NaN,None
17837,Hexamethylbenzene,87-85-4,H0410,up,87-85-4,1905834.0,87570813.0,CC1=C(C(=C(C(=C1C)C)C)C)C,NaN,mfcd00008523,1184.0,None,NaN,None

## Available Stock

In [47]:
df_stock = pd.read_json('TCIAvailableStock.json', orient ='split', compression = 'infer')

In [50]:
df_stock.sample(3).dropna(axis=1, how='all')

,code,OtherWH1G,price1G,Hyogo1G,Saitama1G,OtherWH25G,price25G,Hyogo25G,Saitama25G,OtherWH500G,price500G,Hyogo500G,Saitama500G,OtherWH5G,price5G,Hyogo5G,Saitama5G,lowestPriceOption
22029,M2422,Contact Company,5900.0,4,20,None,NaN,None,None,None,NaN,None,None,Contact Company,19300.0,18,20,5900.0
24812,P0840,None,NaN,None,None,Contact Company,1800.0,20,14,3,2900.0,Contact Company,20,None,NaN,None,None,1800.0
8745,C1583,None,NaN,None,None,20,16300.0,15,18,None,NaN,None,None,Contact Company,5200.0,Contact Company,19,5200.0

### Details

| column name | data type | table constraint | description |
| ---- | ---- | ---- | ---- |
|code|TEXT|PRIMARY KEY|TCI unique id|
|lowestPriceOption|REAL|-|Lowest avaliable price for a given compound|
|price[Amount][Units]|TEXT|-|Price for the specified amount of a product|
|Saitama[Amount][Units]|TEXT|-|Number of goods available in Saitama_Kawaguchi for a given amount|
|Hyogo[Amount][Units]|TEXT|-|Number of goods available in Hyogo_Amagasaki for a given amount|
|OtherWH[Amount][Units]|TEXT|-| Number of goods in other Warehouses for a given amount|

In [52]:
# Upload the dataframe -> changed everything to kumoji!!!
df_stock.to_sql('tci_available_stock', engine,  index=False)

In [54]:
# define a primary Key
with engine.connect() as con:
    con.execute('ALTER TABLE tci_available_stock ADD PRIMARY KEY ("code");')

In [62]:
%%time
df_retrieved_2 = pd.read_sql("SELECT * FROM tci_available_stock", engine)

CPU times: user 1.95 s, sys: 171 ms, total: 2.12 s
Wall time: 15.2 s

In [63]:
df_retrieved_2.sample(2).dropna(axis=1, how='all')

,code,OtherWH25G,price25G,Hyogo25G,Saitama25G,OtherWH5G,price5G,Hyogo5G,Saitama5G,lowestPriceOption
1845,A2467,None,NaN,None,None,Contact Company,27800.0,1,4,27800.0
21665,M1973,Contact Company,36600.0,8,8,4,10500.0,20,9,10500.0